##############################################
# BACKEND API (production)
##############################################
NEXT_PUBLIC_API_BASE=https://api.konnaxion.com/api
NEXT_PUBLIC_BACKEND_BASE=https://api.konnaxion.com

##############################################
# BUILD / ANALYZE
##############################################
ANALYZE=false

##############################################
# MAPBOX (production)
##############################################
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=pk.__your_mapbox_token__
MAPBOX_ACCESS_TOKEN=pk.__your_mapbox_token__

##############################################
# AUTH0 (production)
##############################################
AUTH0_ENABLED=false
NEXT_PUBLIC_AUTH0_ENABLED=false

AUTH0_SECRET=replace_with_a_real_random_secret_in_production
AUTH0_DOMAIN=your-tenant.eu.auth0.com
AUTH0_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
AUTH0_CLIENT_SECRET=yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy

# Public frontend URLs
APP_BASE_URL=https://konnaxion.com
NEXT_PUBLIC_APP_BASE_URL=https://konnaxion.com

##############################################
# ENVIRONMENT OPTIONS
##############################################
NODE_ENV=production
